# Build output
build_output/
player.build/

# Temp build directories
_build_scenes/
_build_assets/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
/assets/scripts/
/assets/
/build/
/_build_assets_11904/
/_build_scenes_11904/
/config/
